<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head>
<body>

  <% include ../../partials/nav %>

  <div class="content-wrapper">
    <section class="content-header">


      <div>
      <form method=post action=payment><br>
      Destination<br>
      <input type="input" name="destination"><br>
      Amount<br>
      <input type="input" name="amount"><br>
      Description<br>
      <input type="input" name="description"><br>
      Context<br>
      <input type="input" name="context"><br>
      <input type="submit" value="Submit"> </form><br>
      </div>

    </section>
  </div>

  <footer>
    <% include ../../partials/footer %>
  </footer>

</body>
</html>
